.header-banner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  color: #000;
  font-style: normal;
  font-weight: 700;
  gap: 32px;
  align-items: center;
  padding-top: 38px;
}

.header-banner-container-left {
  display: flex;
  flex-direction: column;
  padding-left: 136px;
  gap: 16px;
}

.header-banner-title {
  font-size: 36px;
  line-height: 150%;
}

@media screen and (max-width: 600px) {
  .header-banner-container {
    flex-direction: column;
    padding: 24px;
  }

  .header-banner-container-left {
    padding-left: 0;
  }

  .header-banner-container img {
    width: 100%;
  }
}
