.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
}

.payment-flexbox {
  display: flex;
  gap: 32px;
  margin: 0 199px;
}

.countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.payment-flexbox h3 {
  font-size: 14px;
  font-weight: 700px;
  margin: 0;
}

.payment-flexbox p {
  font-size: 14px;
  margin: 0;
}

.confirmation {
  width: 405px;
}

.confirmation .preview-slip {
  width: 296px;
  height: 162px;
  border-radius: 4px;
  border: 1px dashed #d0d0d0;
  background: #eee;
}

.confirmation button {
  padding: 8px 12px;
  border: transparent;
  border-radius: 2px;
  background: #5cb85f;
  color: #fff;
  font-weight: 700;
  width: -webkit-fill-available;
}
