.search-bar {
  /* width: 1047px; */
  border-radius: 8px;
  padding: 24px;
  /* Shadow/High */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.search-bar p {
  font-weight: 700;
}

.search-form {
  display: flex;
  gap: 16px;
}

.search-form div {
  width: 221px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.search-form label {
  font-size: 12px;
}

.search-form input,
.search-form select {
  font-size: 12px;
  width: 221px;
  padding: 8px 12px;
}

.search-form button {
  padding: 8px 12px;
  border: transparent;
  border-radius: 2px;
  background: #5cb85f;
  color: #fff;
  font-weight: 700;
}
