.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1168px;
}

.navbar-container img {
  width: 100px;
}

.navbar-container div {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navbar-container a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.navbar-container button {
  padding: 8px 12px;
  border: transparent;
  border-radius: 2px;
  background: #5cb85f;
  color: #fff;
  font-weight: 700;
}

.navbar-side {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    display: none;
  }

  .navbar-side {
    display: block;
  }
}
