.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 250px;
  background: #fff;
  /* transition: right 0.3s ease-in-out; */
  z-index: 999;
  display: flex;
}
.sidebar a {
  text-decoration: none;
  color: #000;
}

.sidebar.open {
  right: 0;
  width: 250px;
}

.sidebar-content-open {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
}

.sidebar-content-close {
  display: none;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar-close {
  background: none;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}
