.car-detail {
  display: flex;
  gap: 32px;
  margin: 150px 196px;
  font-size: 14px;
}

.terms-container {
  width: 630px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
}

.terms-container p {
  font-weight: 700;
}

.include-list,
.exclude-list {
  padding-bottom: 16px;
}

.include-list div,
.exclude-list div {
  padding-bottom: 8px;
}

.car-detail-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
  height: -webkit-fill-available;
}

.price-container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.car-detail-image {
  width: 405px;
}

.car-detail-image img {
  width: inherit;
  object-fit: cover;
  border-radius: 8px;
}

.car-detail-card button {
  padding: 8px 12px;
  border: transparent;
  border-radius: 2px;
  background: #5cb85f;
  color: #fff;
  font-weight: 700;
  width: -webkit-fill-available;
}

.car-detail-card button:disabled {
  opacity: 0.3;
}

.type-flex {
  display: flex;
  gap: 8px;
  align-items: center;
}

.type-flex p {
  font-size: 10px;
  margin: 0;
}

.car-name {
  padding-top: 24px;
}

.car-name p:first-child {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 8px;
}

.form-date {
  padding-top: 18px;
}

.form-date p {
  font-size: 12px;
  margin: 0;
}
